{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div>
        <h1 style="text-align: center;">Tour Recommendation</h1>

        <form method="get" action="{% url 'tour_recommendation' %}" class="search-form">
            <input type="text" name="search" placeholder="Search by your type">
            <button type="submit">Search</button>
        </form>
        
        {% if tours %}
            <div class="tour-grid">
                {% for tour in tours %}
                    <div>
                        <img src="{{ tours.image.url }}" alt="{{ tour.place }}">
                        <!-- <img src="{% static 'Sri_Ranganathaswamy_Temple_Place_of_Worship.jpg' %}" alt="Placeholder"> -->


                        <div>
                            <!-- <h2>{{ tour.place }}</h2> -->
                            <p><strong>City:</strong> {{ tour.city }}</p>
                            <p><strong>Type:</strong> ${{ tour.type }}</p>
                            <p><strong>Rating:</strong> {{ tour.rating }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
        {% else %}
            <p class="no-tours">No Locations Available</p>
        {% endif %}
    </div>
</body>
</html>
