
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-form input[type="text"] {
    margin-right: 10px;
    padding: 5px;
}

.search-form button {
    padding: 5px 10px;
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    margin: 50px;
    

}

.tour-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    
}

.tour-card img {
    max-width: 100%;
}
.no-tours {
    margin:50px;
    text-align: center;
}